In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'nvidia/nvidia_power_1591550970.csv'

In [3]:
df = pd.read_csv(url)

In [4]:
df.head()

,timestamp,utilization.gpu [%],utilization.memory [%],memory.total [MiB],memory.used [MiB],memory.free [MiB],power.draw [W]
0,2020/06/07 18:29:30.819,0,0,11178,2,11176,10.09
1,2020/06/07 18:29:30.823,0,0,11176,18,11158,11.07
2,2020/06/07 18:29:35.827,0,0,11178,2,11176,10.00
3,2020/06/07 18:29:35.830,0,0,11176,18,11158,10.49
4,2020/06/07 18:29:40.834,0,0,11178,2,11176,10.58

In [5]:
df.describe()

,utilization.gpu [%],utilization.memory [%],memory.total [MiB],memory.used [MiB],memory.free [MiB],power.draw [W]
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,66.863636,22.000000,11177.000000,3826.204545,7350.795455,161.671818
std,42.136871,16.285248,1.011561,2432.744393,2432.540528,104.779465
min,0.000000,0.000000,11176.000000,2.000000,5233.000000,10.000000
25%,0.000000,0.000000,11176.000000,26.250000,5251.000000,64.210000
50%,94.500000,25.000000,11177.000000,4594.000000,6582.000000,226.600000
75%,97.000000,36.250000,11178.000000,5927.000000,11149.750000,250.152500
max,100.000000,46.000000,11178.000000,5945.000000,11176.000000,279.200000

In [6]:
df.columns

Index(['timestamp', ' utilization.gpu [%]', ' utilization.memory [%]',
       ' memory.total [MiB]', ' memory.used [MiB]', ' memory.free [MiB]',
       ' power.draw [W]'],
      dtype='object')

In [7]:
df = df.loc[df[" utilization.gpu [%]"] >= 50]

In [8]:
df.describe()

,utilization.gpu [%],utilization.memory [%],memory.total [MiB],memory.used [MiB],memory.free [MiB],power.draw [W]
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,91.937500,30.250000,11177.000000,5256.625000,5920.375000,214.652813
std,9.122597,10.500384,1.016001,681.732411,680.717731,66.751981
min,77.000000,10.000000,11176.000000,4570.000000,5233.000000,83.780000
25%,79.500000,20.750000,11176.000000,4594.000000,5233.000000,169.757500
50%,96.500000,33.000000,11177.000000,5171.500000,6005.500000,246.580000
75%,98.250000,38.000000,11178.000000,5945.000000,6582.000000,254.675000
max,100.000000,46.000000,11178.000000,5945.000000,6606.000000,279.200000

In [9]:
from datetime import datetime
from datetime import timedelta
df.timestamp = [datetime.strptime(time, "%Y/%m/%d %H:%M:%S.%f") for time in df.timestamp]

In [10]:
time_interval = df.iloc[-1].timestamp - df.iloc[0].timestamp

In [11]:
time_interval.total_seconds()

75.197

In [12]:
total_power = df[' power.draw [W]'].mean() * time_interval.total_seconds()

In [13]:
total_power

16141.247541562503