In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'nvidia/nvidia_power_1591638023.csv'

In [3]:
df = pd.read_csv(url)

In [8]:
df.tail(20)

,timestamp,utilization.gpu [%],utilization.memory [%],memory.total [MiB],memory.used [MiB],memory.free [MiB],power.draw [W]
342,2020/06/08 18:54:40.131,97,69,11178,10761,417,267.51
343,2020/06/08 18:54:40.134,0,0,11176,170,11006,12.43
344,2020/06/08 18:54:45.137,100,67,11178,10761,417,257.30
345,2020/06/08 18:54:45.139,0,0,11176,170,11006,12.52
346,2020/06/08 18:54:50.143,97,72,11178,10761,417,272.39
347,2020/06/08 18:54:50.145,0,0,11176,170,11006,12.04
348,2020/06/08 18:54:55.149,100,66,11178,10761,417,264.42
349,2020/06/08 18:54:55.154,0,0,11176,170,11006,11.45
350,2020/06/08 18:55:00.157,97,71,11178,10761,417,252.07
351,2020/06/08 18:55:00.160,0,0,11176,170,11006,11.17
352,2020/06/08 18:55:05.163,100,66,11178,10761,417,266.86
353,2020/06/08 18:55:05.173,0,0,11176,170,11006,11.16
354,2020/06/08 18:55:10.176,99,62,11178,10761,417,184.54
355,2020/06/08 18:55:10.178,0,0,11176,170,11006,11.36
356,2020/06/08 18:55:15.182,97,77,11178,10761,417,268.61
357,2020/06/08 18:55:15.184,0,0,11176,170,11006,11.94
358,2020/06/08 18:55:20.188,99,62,11178,10761,417,192.45
359,2020/06/08 18:55:20.192,0,0,11176,170,11006,12.14
360,2020/06/08 18:55:25.199,78,8,11178,2,11176,97.34
361,2020/06/08 18:55:25.201,0,0,11176,18,11158,12.34

In [5]:
df.describe()

,utilization.gpu [%],utilization.memory [%],memory.total [MiB],memory.used [MiB],memory.free [MiB],power.draw [W]
count,362.000000,362.000000,362.000000,362.000000,362.000000,362.000000
mean,46.848066,32.475138,11177.000000,5284.273481,5892.726519,126.683978
std,49.326001,34.518223,1.001384,5304.735308,5303.767595,121.652098
min,0.000000,0.000000,11176.000000,2.000000,417.000000,10.000000
25%,0.000000,0.000000,11176.000000,170.000000,417.000000,11.260000
50%,0.000000,0.000000,11177.000000,170.000000,11006.000000,13.830000
75%,99.000000,68.000000,11178.000000,10761.000000,11006.000000,264.245000
max,100.000000,78.000000,11178.000000,10761.000000,11176.000000,287.500000

In [6]:
df.columns

Index(['timestamp', ' utilization.gpu [%]', ' utilization.memory [%]',
       ' memory.total [MiB]', ' memory.used [MiB]', ' memory.free [MiB]',
       ' power.draw [W]'],
      dtype='object')

In [7]:
#df = df.loc[df[" utilization.gpu [%]"] >= 50]

In [9]:
from datetime import datetime
from datetime import timedelta
df.timestamp = [datetime.strptime(time, "%Y/%m/%d %H:%M:%S.%f") for time in df.timestamp]

In [10]:
time_interval = df.iloc[-1].timestamp - df.iloc[0].timestamp

In [11]:
time_interval.total_seconds()

901.611

In [12]:
total_power = df[' power.draw [W]'].mean() * time_interval.total_seconds()

In [13]:
total_power

114219.66799889502

In [14]:
print ("{} kWh".format(total_power / ( 1000 * 3600)))

0.031727685555248616 kWh